{% load static %}

<footer class="site-footer">
    <link rel="stylesheet" href="{% static 'footer-style.css'%} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#" style="text-decoration: none;">#AKAR</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="instagram" href="https://www.instagram.com/mberkayakar/?hl=tr"><i class="fa fa-instagram"></i></a></li>
            <li><a class="dribbble" href="https://github.com/mberkayakar"><i class="fa fa-github"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/berkayakar/"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>