{% extends "common/layout.html" %}
{% load static %}
{% block content %}


{% if messages %}
{% for message in messages %}

<div
  style="z-index: 9999;position:fixed;top:50px;width:90%; text-align: center;margin-top: 20px; margin-left:5%;margin-right:5%;"
  class="alert alert-danger alert-dismissible" role="alert" id="alarmdivi">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  {{message}}
</div>
{% endfor %}
{% endif %}


<style>
.card{
  background-color: transparent;
  border: none;
}

</style>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Bildirim Yönetimi</h1>
    <br>
    <strong>...Güvenli Sürüş Bildirim Denetim Sayfası...</strong>
  </div>
  <br>
  <hr>

  <div class="row" >
    <div class="col-md-6">
 <!-- ilk satır                 -->
        <div class="card border-bottom pb-3 text-center">
          <h2 class="card-title text-center" >Bildirim ekle </h2>
           <img class="card-img-top" src="{% static 'anket.png' '%}" alt="Anket Fotosu">
           <div class="card-body">
              <p class="card-text text-center">Bildirim oluşturma, görüntüleme, güncelleme ve ekleme sayfaları .</p>
              <a href="/anket/anketekle" class="btn  btn-success btn-lg btn-block ">İşlemler  </a>
           </div>
        </div>
   
  </div>
  <div class=" col-md-6 ">
    <div class="card border-bottom pb-3 text-center">
      <h2 class="card-title text-center" >Bildirim Görüntüle </h2>
       <img class="card-img-top" src="{% static 'buyutec.png' '%}" height="407px" alt="Anket Fotosu">
       <div class="card-body">
          <p class="card-text text-center">Bildirim bilgierinizi güncelleyebileceğiniz, görüntüleyebileceğiniz ve silebileceğiniz sayfalar için.</p>
          <a href="/anket/anketislem" class="btn  btn-success btn-lg btn-block ">İşlemler  </a>
       </div>
    </div>

  </div>
  </div>
</div>

<script>
  $(document).ready(function(){

setTimeout(function(){

    $("#alarmdivi").fadeOut("slow", function () {

    $("#alarmdivi").remove();

});

}, 2000);

});

</script>
{% endblock %}